
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;400&family=Ubuntu&display=swap');

body{
  background-color: #FFFFFF ;
  line-height: 1.8;
}
body p{
  font-family: 'Roboto Condensed', sans-serif;
}
body h2{
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
body h3{
  font-size: 15px;
  font-family: 'Ubuntu',aria;
}
body h4{
  font-family: 'Bebas Neue', cursive;
}
body h5{
  font-family: 'Bebas Neue', cursive;
}
 section.cabeçalho-celulares{
   height: 590px;
 }
section.cabeçalho-top{
  margin-top: 70px;
  width: 350px;
}
.card-cente{
  margin-left:180px ;
}
div.offcanvas-header{
    background: linear-gradient(to right,#00e0fe, #1107fe); 
    color: #FFFFFF;
  }
  .modal-cabeçahlo{
    width: 500px;
    background: linear-gradient(to right, #FFC500, #1107fe);
  }
 .favoritosbox, .favoritoslink{
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .favoritoslink{
  background: linear-gradient(to right,#00e0fe, #1107fe); 
   width: 40px;
   height: 40px;
   margin-left: 8px;
   border-radius: 50%;
   transition: transform 0.1s;
   box-shadow: 0px 0px 4px #FFFFFF;
 }
 .favoritoslink:hover{
   box-shadow: 0px 0px 20px #1107fe;
  transform: scale(1.5);
 }
 .favoritoslink i{
  color: #FFFFFF;
  font-size: 19px;
 }
 .favoritoslink .favicon{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s;
 }
 .favoritoslink .favicon:hover{
  transform: rotateZ(360deg);
 }
  
  .Nav-top{
    z-index: 999999;
  }
  .senction-top{
    margin-top: 40px;
  }
    
  .section-intro{
  margin-bottom: 40px;
  } 
  .section-intro,.divider{
    margin: auto;
    height: 3px;
    width: 80px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
  } 
  
  div.list-group, a.list-group-item{
    font-size: 17px;
    font-weight: 800;
    color: #1bdf12;
  }
   
.nav-item .nav-link{
  color: #1107fe;
  
}
.nav-item .nav-link:hover{
  color: #272262;
  text-decoration: overline;
  
}
/* modal */
 .modal-central{
  margin-left: auto;
}
 
p.card-paraf{
  font-size: 10px;
  font-family:  'Oswald', sans-serif;
}
i.icones{
  font-size: 15px;
  font-family:  'Oswald', sans-serif ;
  color: #0a58ca;
}
.ul-item{
  list-style: none;
  font-size: 18px;
  font-family:'Oswald', sans-serif ;
}
 .li-item .link-item{
   color: #072859;
  display: inline-block;
}
.list-group-item{
  color: #072859;
}
.desplay-flex{
  display: flex;
}
.botton-login{
  height: 38px;
}
.icon-login{
  color: #FFFFFF;
  font-family:'Oswald', sans-serif  ;
  font-size: 17px;
  margin-top: -10px;
  margin-left: 50px;
}
 
 
footer.footer{
  height: 50px;
}
/* imagens site androsilva */
.medição{
  width: 80px;
  height: 90px;
  margin-left: 10px;
}
.fastboot{
  width: 100%;
  height: 50px;
}
.menulista{
  margin-top: 120px;
}
   /* Menus */
  .Menu-principal{
box-shadow: 0 12px 20px rgba(0, 0, 0,0.1);
width: 100%;
height: 94px;
 z-index: 9999;
  } 
  
  .menu-anborg{
  width: 340px;
  }

  .content-anborg{
    width: 340px;
    z-index: 999999;
  }
  .list-group-item:hover{
    background-color: rgba( 59, 57, 57, 0.160)!important;
  }
  /* Fundos lateral */
.fundo-lateral{
  position: absolute;
  margin-left: -10px;
  background: linear-gradient(to right,#00e0fe, #1107fe);
  height: 100%;
  width: 300px;
  border-radius: 0px 50% 50% 0px;
}
.fundo-lateral h5{
  font-size: 12px;
  color: #DC3545;
  margin-top: -12px;
}
/* contactos */

form .form-control{
border-radius: 0;
background: transparent;
color: #FFFFFF;
background-color: rgba(255, 255, 255, 0.194);
}

form .form-control::placeholder{
  color: #FFFFFF;
}

form .form-control:focus{
  color: #FFFFFF;
  background: transparent;
  border-color: rgba(255, 255, 255, 0.435);
}

 form input.form-control{
height: 54px;
 }
  /* button automaati */
  .btn{
    padding: 14px 22px;
    
  }
  .btn-primary{
    background: linear-gradient(to right,#00e0fe, #1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
  }
  .btn-main{
    background: linear-gradient(to right,#00e0fe, #1107fe);
    width: 150px;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #f8f9fa;
  }
  .carousel-control-prev{
    font-size: 2rem;
    font-weight: 500;
    margin-left: -6rem;
  }
  
  .carousel-control-next{

    font-size: 2rem;
    font-weight: 500;
    margin-right: -6rem;
  }
  div.carousel-indicators{
    
    margin-bottom: -40px;
  }
  div.icon1{
    position: absolute;
    top: 0px;
    left: 0px;
    
     }
     div.icon2{
      position: absolute;
      top: 0px;
      left: 1200px;
      
       }
     section.container h1{
       color: #1107fe;
       font-family: 'Roboto Condensed', sans-serif;
       font-weight: 800;
     }
     section.container h5{
      color: #1bdf12;
      font-family: 'Roboto', sans-serif;
      font-weight: 800;
    }
     section{
       padding-top: 20px;
       padding-bottom: 20px;
       z-index: 2;
     }
     .bg-conver{
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
       background-attachment: fixed;
     }
     .bg-sention{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-attachment: fixed;
     }
     .overlay{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: linear-gradient(to right,#00e0fe95, #0f07fe76);
       z-index: -1;
     }
     .overle{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right,rgba(0, 0, 0, 0.584), rgba(39, 38, 52, 0.463));
      z-index: -1;
    }
      
    
     div.button { 
        display: flex;
        align-items: center;
        justify-content: right;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        margin-top:30px;
        right: 1rem;
      }
      div.button button a {
        text-decoration: none;
      
      }
      
      
      .Log{
        border: none;
        color: #f8f9fa;
        padding: 5px;
        margin: 5px;
        font-size: 12px;
        line-height: 24px;
        border-radius: 10px;
        position: relative;
        top: -780px;
        left: 50px;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 400ms ease;
        text-shadow: 0px 0px 5px black;
        z-index: 99999;
      }
      @keyframes bourcen{
        0%, 20%, 60%, 100%{
            -webkit-transform: translateY(0) ;
            transform: translateY(0);
        }
        40%{
            -webkit-transform: translateY(-20px) ;
            transform: translateY(-20px);
        }
        80%{
            -webkit-transform: translateY(-10px) ;
            transform: translateY(-10px);
        }
      }
      
      .log1{
        background-color: #1107fe;
        color: #f8f9fa;
        box-shadow: #0000;
        text-shadow: none;
        font-weight: 800;
        box-shadow: 0px 0px 4px #0c0c0c;
      
      }
      .log2{
        background-color: #f8f9fa;
        box-shadow: #0000;
        text-shadow: none;
        font-weight: 800;
      
      }
       .log1:hover{
           animation: bourcen 1s;
       }
      
       @keyframes bourcen{
        0%, 20%, 60%, 100%{
            -webkit-transform: translateY(0) ;
            transform: translateY(0);
        }
        40%{
            -webkit-transform: translateY(-20px) ;
            transform: translateY(-20px);
        }
        80%{
            -webkit-transform: translateY(-10px) ;
            transform: translateY(-10px);
        }
      }
 /* Configuração de barra de pesquisa */
div.caixas-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    div.box-pesquisa{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 15px;
     background-color: white;
     border-radius: 100px;
     box-shadow: 0px 0px 4px #0dcaf0;
     font-family: 'Ibarra Real Nova', serif;
    }
    .formas{
    display: block;
    width: 250%;
    }
    .formas.active{
    width: 250%;
    }
    .formas #fazer-busca{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1em;
    }
    .formas #fazer-busca:focus{
      outline: none;
      border: 1px solid #0dcaf0;
    }
    .btn{
    display: block;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    }
    .btn .imagen-lupa{
     width: 30px;
     height: 30px;
    font-size: 1em;
    border-radius: 50px;
    }
                    
/* configuração para footer */
footer{
    min-height: 350px;
    background: linear-gradient(to right,rgba(0, 224, 254, 0.616), rgba(15, 7, 254, 0.534));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
   } 
   footer .boxs{
   width: 350px;
   min-height: 150px;
   padding: 10px;
   }
   footer .boxs:nth-child(5){
   width: 400px;
   }
   .boxs h2{
   font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 900;
   color: blue;
   margin-bottom: 10px;
   
   }
   .boxs ul li{
   margin: 10px 0px;
   list-style: none;
   }
   .boxs ul li a{
     font-family: 'Roboto Condensed', sans-serif;
   text-align: justify;
   color: #f8f9fa;
   text-decoration: none;
   transition: transform all 0.2s ease;
   }
   .boxs ul li a:hover{
   color: green;
   text-decoration: underline;
   transform: scale(1.5);
   }
   .boxs p{
     font-family: 'Roboto Condensed', sans-serif;
   font-weight: 500;
   width: 250px;
   color: white;
   text-align: justify;
   font-size: clamp(1em);
   }
   @media(max-width:950px)
   {
   footer{
       flex-direction: column;
   }
   footer .boxs{
       width: 100%;
       text-align: center;
   }
   footer .boxs:nth-child(5) {
       width: 100%;
   }
   }

    /* redes sociais no footer */
 .footer{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#0dcaf0;
    padding: 0px 20px;
    font-family: 'Ibarra Real Nova', serif;
   }
   .footer h2{
     font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    color: white;
   }
   div.sociais, .desevolve{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: green;
   }
   .footer .sociais{
    display: flex;
   }
   .sociais .socia{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin: 10px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s linear;
   }
   .sociais .socia:hover{
    background-color: #444;
   }
   .sociais .socia:hover a{
    background-color: white;
   }
   .sociais .socia a{
    color: green;
    font-size: 1.5rem;
    transition: color .3s linear;
   }
   div.todas-notificação{
     display: block;
     background-color: transparent;
     box-sizing: border-box;
     box-shadow: 0px 0px 4px #f8f9fa;
     margin: 10px;
   }
   div.todas-notificação h4{
      text-align: center;
      font-weight: 500;
      color: #0a58ca;
      font-family: 'Roboto Condensed', sans-serif;
   }
   div.elementos-footer, .termos{
     font-size: 12px;
   }
    #telefone-footer{
     margin: 5px;
     padding: 5px;
     border: none;
   }
   #telefone-footer:focus{
     outline: none;
     border: #0dcaf0;
     box-shadow: 0px 0px 4px #0dcaf0;
    
   }
   
    #eletronicos-footer{
     margin: 5px;
     padding: 5px;
     border: none;
   }
   #eletronicos-footer:focus{
     outline: none;
     border: #0dcaf0;
     box-shadow: 0px 0px 4px #0dcaf0;
     font-family: 'Ibarra Real Nova', serif;
    
   }
   
    #textos-footer{
      width: 200px;
     height: 80px;
     margin: 10px;
     padding: 5px;
     border: none;
   }
   #textos-footer:focus{
     outline: none;
     border: #0dcaf0;
     box-shadow: 0px 0px 4px #0dcaf0;
   }
   div.Notificação-footer,.elementos-footer{
     margin: 5px;
     padding: 5px;
   }
   
   .comentario-footer{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .enviar-comentario{
     width: 100px;
     height: 20px;
     border: none;
     background-color: #f8f9fa;
     color: #0dcaf0;
   }
   .enviar-comentario:focus{
     outline: none;
     border: #0dcaf0;
     box-shadow: 0px 0px 4px #0dcaf0;
   }
   
   div.checarbox{
     width: 50px;
     height: 50px;
   }
    #checar-footer{
      width: 20px;
      height: 20px;
      transition: transform 0.5s;
   }
  
   
   #checar-footer:checked{
     background-color: #198754;
     transform: rotateY(360deg);
   }
/* cadastramento*/

div.cadastramentos{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   }
   div.cantaner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   }
   div.cards{
     background-color:rgba(255, 255, 255, 0.542);
    padding: 30px;
    border-radius: 4%;
    box-shadow: 1px 1px 4px black;
    width: 300px;
   }
   div.cards h1{
    text-align: center;
    margin-bottom: 20px;
            color: blue;
            font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   }
   div.usuario input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
        font-size: 16px;
        transition: all .3s ease-out;
        border-radius: 0;
   }
   div.usuario{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
   }
   div.usuario label{
    color: #272262;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
   }
   div.usuario, input:focus{
    border-bottom: 2px solid #4038a0;
   }
   div.usuario, input:focus + label,
   div.usuario, input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: blue;
   }
   div.justificar button{
    background-color: transparent;
    border-color: 1px blue;
    padding: 7px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
   }
   div.justificar button:hover{
    background-color: blue;
    color: white;
   }
   div.justificar{
    display: flex;
    justify-content: center;
   }
   div.usuario .fa-eye{
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #272262;
   }

   /* validação das menssagens */
div.mensageerror{
    text-align: center;
    color: rgb(202, 14, 14);
    background-color: red;
    padding: 10px;
    border-radius: 4px;
    display: none;
   }
   div.mensagSucess{
    text-align: center;
    color: green;
    background-color: rgb(13, 255, 13);
    padding: 10px;
    border-radius: 4px;
    display:none;
   }
/* Receba novidade no seu email */
div.entrar{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   }
   
   div.continuario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
   }
   div.cardes{
    background-color:  rgba(255, 255, 255, 0.542);
    padding: 30px;
    border-radius: 4%;
    box-shadow: 1px 1px 4px black;
    width: 300px;
    height: 480px;
   }
   div.cardes h1{
    text-align: center;
    margin-bottom: 20px;
            color: blue;
            font-family: 'Roboto', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   }
     
   /* botão de login */
   .logando{
    background: linear-gradient(to right,#00e0fe, #1107fe);
     font-size: 12px;
     color: #072859;
     margin-top: -30px;
     width: 150px;
     border: none;
     border-radius: 50%;
   }
   #logado{
    font-size: 14px;
    color: #DC3545;
   }
   .fundo-lateral h6{
    font-size: 12px;
    color: #DC3545;
  }
@media  (max-width:1080px) {
    .carousel-control-prev{

      color: #1107fe;
      font-size: 2rem;
      font-weight: 500;
      margin-left: 0;
    }
    
     section.cabeçalho-celulares{
      height: 1600px;
    }
    .corpo-sention{
      bottom: 50%;
    }

    .carousel-control-next{
      color: #1107fe;
      font-size: 2rem;
      font-weight: 500;
      margin-right: 0;
    }
    
    
      
    .Log{
      border: none;
      color: #f8f9fa;
      padding: 5px;
      margin: 5px;
      font-size: 12px;
      line-height: 24px;
      border-radius: 10px;
      position: relative;
      top:-2050px;
      left:10px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 400ms ease;
      text-shadow: 0px 0px 5px black;
      z-index: 99999;
    }
     
     
   }
   
   *::-webkit-scrollbar{
    width: 10px;
  }
  *::-webkit-scrollbar-track{
    width: 12px;
    box-shadow: inset 0 0 .3rem #00a8ff;
    background-color: #f8f9fa;
  }
  *::-webkit-scrollbar-thumb{
    background-color: #0dcaf0;
  }
  
  