 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200;400&family=Ubuntu&display=swap');

.topo{
    background: linear-gradient(to right, #FFC500, #1107fe);
    position: fixed;
    bottom: 3px;
    right: -500px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.4s all ease-out;
    z-index: 99999;
}
.topo .ceta-acima{
    border-radius: 50%;
}
.show-botton .topo{
    right: 40px;
    transition: 1.4s all ease-out;
}
/* btn pesquisar */
.pesquisar{
    margin-top: 10px;
    margin-left: -40px;
}
form input.control{
    height: 40px;
}
/* Menu aside */
.menu .ul-menu{
    list-style: none;
    text-transform: uppercase;
    margin-top: -20px;
    margin-left: 50px;
 
}
.menu .li-menu{
   display: inline-block;
   background: linear-gradient(to right,#00e0fe, #1107fe); 
   transition: all 0.2s;
   
}
.menu .li-menu:hover{
    box-shadow: 0px 0px 50px #1107fe;
    padding: 8px;
    color: #fe0000;
 }
 
.menu .li-menu a{
     color: #fff;
     font-size: 18px;
     text-decoration: none;
     margin: 10px;
 }
  /* texto senction */
  .cv-item{
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 1px solid #000000;
      position: relative;
  }
  .cv-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 10px;
    height: 10px;
    border: 2px solid #1107fe;
    background: #000000;
    border-radius: 50%;
}
 
   
 
  .cv-item .link-listas{
      font-family: Verdana, Tahoma,;
      color: #fe0000;
      display: block;
      text-decoration: none;
      transition: all 0.2S ease-out;
  }
  .cv-item .link-listas:hover{
   color: #1107fe;
   text-decoration: overline;
}
  .senction-text{
      margin-top: 50px;
  }